@model DtoDeepDive.Data.DTO.QuoteDTO
@{
    ViewBag.Title = "Quote";
}

<div class="container">
  <h2>Quote</h2>
  <h3>Total Cost: @Model.TotalCost.ToString("C")</h3>
  <br />
  <div class="row"></div>
  @foreach (var part in Model.Parts) {
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>Part Number: <strong>@part.PartNumber</strong></p>
          <p>Total Cost: <strong>@part.TotalCost.ToString("C")</strong></p>
        </div>
        <div class="panel-body">

          <p>Components</p>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Component Number</th>
                <th>Description</th>
                <th>Quantity Required</th>
                <th>Cost Per Unit</th>
                <th>Component Cost</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var component in part.Components) {
                  <tr>
                    <td>@component.Number</td>
                    <td>@component.Description</td>
                    <td>@component.GetQuantityRequired(part.Quantity)</td>
                    <td>@component.CostPerUnit.ToString("C")</td>
                    <td>@component.GetComponentCost(part.Quantity).ToString("C")</td>
                  </tr>
              }
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Material Cost</strong></td>
                <td>@part.TotalComponentCost.ToString("C")</td>
              </tr>
            </tbody>
          </table>

          <p>Labor</p>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Sequence Number</th>
                <th>Description</th>
                <th>Run Time</th>
                <th>Labor Rate</th>
                <th>Labor Cost</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var laborSequence in part.Labor) {
                  <tr>
                    <td>@laborSequence.LaborSequenceNumber</td>
                    <td>@laborSequence.LaborSequenceDesc</td>
                    <td>@laborSequence.RunTime</td>
                    <td>@laborSequence.LaborRate.ToString("C")</td>
                    <td>@laborSequence.GetLaborCost(part.Quantity).ToString("C")</td>
                  </tr>
              }
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Labor Cost</strong></td>
                <td>@part.TotalLaborCost.ToString("C")</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  }
</div>